html {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #9EAEB3;
}

h1 {
	font-size: 3em;
}

p {
	color:black;
	font-size: .8em;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -2em;
}

input {
	margin: 0 auto;
}


input[type="number"] {
	display: block;
	margin-top: 10px;
	width: 225px;
	height: 76px;
	font-size: 2em;
	text-align: center;
}

#optButdiv {
	display:block;
	width: 300px;
	margin: 10px auto;
}

.optButtons {
	width: 40%;
}

#subButton {
	background-color: red;
	padding: 2px 4px;
    font: 1em sans-serif;
    text-decoration: none;
    border: 1px solid #000;
    border-color: #aaa #444 #444 #aaa;
    color: #000;
    width: 250px;
	height: 36px;
}